<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>СообщениеИзКосмоса</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app" class="container text-center">
        <table border="1">
            <tr v-for="message in messages">
                 <td class="col-2">{{ message.fields.date }}</td>
                 <td class="col-9">{{ message.fields.text }}</td>
                 <td class="col-1">
                    <a class="btn btn-outline-success" v-if="message.fields.check === false" @click="message.fields.check = true;mark_read(message.pk)">Прочитано</a>
                    <a class="btn btn-success text-white disabled" v-if="message.fields.check === true" aria-disabled="true">Прочитано</a>
                </td>
            </tr>
        </table>
    </div>

    <script src="/static/mfs/js/main.js"></script>
</body>
</html>